<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NPScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34DB8F331DFD382900B602F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DB8F4C1DFD382A00B602F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DB8F571DFD382A00B602F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
